<div class="jumbotron">
  <h1>Welcome to Strain</h1>
</div>
<div>
  <%= link_to 'Stores', stores_path, class: 'btn btn-success' %>
  <%= link_to 'Products', products_path, class: 'btn btn-success' %>
</div>
