<div class="bg">
  <!-- <div class="jumbotron col-8 offset-2">
    <h1 class="landing text-center">Welcome to Strain</h1>
  </div> -->
  <div class="homepage-btn text-center">
    <%= link_to 'Stores', stores_path, class: 'btn btn-success' %>
    <%= link_to 'Products', products_path, class: 'btn btn-success' %>
  </div>
</div>
