<h1>Check out all the stores</h1>

<% if current_user && current_user.has_store == false %>
  <%= link_to 'Create a new Store', new_store_path, class: 'btn btn-success btn-sm' %>
<% end %>


<% @stores.each do |store| %>
  <div class="offset-1 col-10 stores">
    <p><%= link_to store.storename, store_path(store) %></p>
    <p><%= store.location %></p>
    <% if store.user.present? %>
      <small>Contact: <%= store.user.name %></small>
    <% end %>
  </div>
<% end %>

<!-- class CreateProducts < ActiveRecord::Migration[5.1]
  def change
    create_table :products do |t|
      t.string :strain
      t.string :type
      t.text :description
      t.text :effects
      t.integer :user_id
      t.intger :store_id
      t.timestamps
    end
    add_index :products, [:user_id, :store_id]
    add_index :product, :store_id
  end
end -->
