<h1>Check out all the products</h1>

<% @products.each do |product| %>
  <div>
    <h2><%= link_to product.strain, store_product_path(product.store, product) %></h2>
    <p><%= product.straintype %></p>
  </div>
<% end %>
