<h1>Check out all the products</h1>

<% @products.each do |product| %>
  <div>
    <h2><%= product.strain %></h2>
    <p><%= product.straintype %></p>
  </div>
<% end %>

<button id="show">Click me for more info</button>

<script>

$(function(){
  $("#show").on("click", function(){
    $.get("https://www.cannabisreports.com/api/v1.0/strains", function(data){
      $.each(data.data, function(i, item){
        console.log(item.name);
      });
    });
  });
});


</script>
